<template name="tweet">
  <div class="row">

    <div class="col">
      <div class="card blue-grey darken-1 z-depth-2">
        <div class="card-content white-text">
          <span class="card-title">
            <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{user.profile_image_url}}" alt="" class="circle responsive-img valign"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="valign">
                {{user.name}}
              </span>
            </div>
            <div class="col s2">
              <i class="mdi-social-mood left {{getCssClass sentiment}}"></i>

            </div>
          </div>
          </span>
          <p>{{text}}</p>
        </div>
        <div class="card-action">
          <a href="https://twitter.com/{{user.screen_name}}" target="_blank">{{user.screen_name}}</a>
        </div>
      </div>
    </div>
  </div>
</template>
